<app-search
  [list]="apiService.RawRecipeList$"
  (searchEvent)="executeSearch($event)"
></app-search>
<div class="recipe__list">
  <app-card
    *ngFor="let item of apiService.Recipes$ | async"
    [recipe]="item"
  >
    <button
      class="btn"
      type="button"
      (click)="addToMyRecipe(item.id)"
      [ngClass]="{ 'btn-saved': item.isSaved, 'btn-unsaved': !item.isSaved }"
      saveBtn
    >
      <mat-icon>bookmark</mat-icon> {{ item.isSaved ? "Save" : "Unsaved" }}
    </button>
  </app-card>
</div>
